{deps, [
    {epgsql, {git, "https://github.com/SIfoxDevTeam/epgsql.git", {branch, "repl_fix"}}}
]}.
{plugins, [rebar3_run]}.

{relx, [
    {release, {repl_epgsql_test, "0.0.1"}, [repl_epgsql_test, runtime_tools]},
    {dev_mode, false},
    {include_erts, false},
    {include_src, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.
