[
    {repl_epgsql_test, [
        {align_lsn, false},
        {db_args,
            [
                {port,10432},
                {hostname,"localhost"},
                {password,"repl_epgsql_test"},
                {username,"repl_epgsql_test"},
                {database,"repl_epgsql_test"}
            ]
        }

    ]}

].
